.homepage{
	&__join-tree-container{
		margin: 10px 0;
	}

	&__new-tree-container{
		margin: 10px 0;
	}

	&__prayer-tree-container{
		list-style: none;
		padding-left: 0;
		border: 3px solid $prayer-tree-secondary;
		color: white;
	}

	&__prayer-tree{
		background: $prayer-tree-primary;
		margin: 20px;
    	padding: 20px;
	}
}




